
body {
  background-image: url("https://paguemob.com/img/header.jpg");
  background-position: center;
}

.container {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: white;
}

.footer {
  background-color: #222;
  text-align: center;
  color: gray;
  font-size: 12px;
  padding: 20px 0;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
}

hr {
  border: none;
  margin: 20px 0;
}
.react-bootstrap-table-pagination-list ul {
  margin-top: 0;
  float: right;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #f05f40;
  border-color: #f05f40;
}

.pagination>li>a, 
.pagination>li>span {
  color: #f05f40;
}